:root {
    --Med-purpura: #86469C;
    --Lila: #dbb1f4;
    --Rosa-claro: #FFCDEA;
    --Rosa-magenta: #d14dbd;
    --Azul-oscuro: #28255A;
    --background: #f6eff7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
}



header {
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 18px 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    backdrop-filter: blur(10px);
}

nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: var(--Azul-oscuro);
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease;
    position: relative;
}

nav a:hover {
    color: var(--Med-purpura);
}

/* Efecto underline al hover */
nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--Med-purpura);
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}
.header-btn1 {
    border: solid 1.5px #ED66B2;
    color:var(--Rosa-magenta);
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 10px;
    font-weight: 500;
    transition: background 0.3s ease;
}

.header-btn {
    background-color: var(--Rosa-magenta);
    color: white;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 10px;
    font-weight: 500;
    transition: background 0.3s ease;
}

.header-btn:hover {
    background-color: #c83a8a;
}

.header-btn1:hover {
    background-color: #c83a8a56;
    color: #fff;
}
.circulo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;    
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.circulo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main_container {
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    background-color: var(--Rosa-claro);
    overflow: hidden;
}


#circulo {
    width: 180px;
    height: 180px;
    margin-top: 100px;
    overflow: hidden;
    margin-bottom: 50px;
    border-radius: 50%;
    background-color: #fff;
}

#circulo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



#contenedor_login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background);
}

form {
    width: 65%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form label {
    color: var(--Azul-oscuro);
    font-size: 16px;
    font-weight: bold;
}

form input {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    border: solid 1px #0000002d;
    border-radius: 12px;
    background-color: white;
    color: var(--Azul-oscuro);
    font-size: 16px;
    outline: none;
    transition: 0.2s;
}

form input:focus {
    border: 1px solid var(--Rosa-magenta);

    border-color: var(--Med-purpura);
    box-shadow: 0 0 0 3px var(--Rosa-claro);
}


form a {
    color: var(--Lila);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    align-self: center;
    transition: 0.2s;
}

form a:hover {
    color: var(--Rosa-magenta);
}

/* Botón */
form button {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    border: none;
    border-radius: 12px;
    background-color: var(--Rosa-magenta);
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

form button:hover {
    background-color: var(--Med-purpura);
    transform: translateY(-2px);
}

